body {
  font-family: "Roboto", sans-serif;
}
.bg-area-green {
  background-color: #28A745;
}
.no-padd
{
  padding: 0px;
}
.nav-link {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  font-family: "Roboto";
  opacity: 100%;
}
.nav-link:hover {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Roboto";
  opacity: 100%;

}
.navbar-nav {
  padding-left: 75%;
}
.card-title {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 1.5em;
  color: #212529;
}
.card-text {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 1em;
  color: #707070;
}
.card-text-address {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 0.813em;
  color: #707070;
  text-align: left;
}
.card-text-price1 {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 1em;
  color: #707070;  
  text-align: right;
  padding: 0px 6px 0px 0px;
  margin: 0px;
  align-self: baseline;
 
}
.card-text-price2 {
  font-weight: 500;
  font-family: "Roboto";
  font-size: 1.25em;
  color: #28A745;
  text-align: left;
  padding: 0px 0px 0px 6px;
  margin: 0px;
  align-self: baseline;
}
.form-text-title {
  font-weight: 500;
  font-family: "Roboto";
  font-size: 1.313em;
  color: #FFFFFF;
}
.form-text-input {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 1em;
  color: #707070;
  opacity: 100%;
}
.btn {
  border-radius: 5%;
  border-color: #DDDDDD;
  background-color: #F8F9FA;
  height: 2.5em;
  width: 7em;
}
.cuppon-title {
  font-family: "Roboto";
  font-size: 1.75em;
}
.color-white
{
  color: #FFFFFF;
}
.color-black
{
  color: #000000;
}
.footer-text {
  font-weight: 300;
  font-family: "Roboto";
  font-size: 1em;
  color: #707070;
}